<div class="sidebar" data-color="purple" data-image="app/assets/img/sidebar-5.jpg">
	<div class="sidebar-wrapper">
	    <div class="logo">
	        <a href="http://www.creative-tim.com" class="simple-text">
	            Creative Tim
	        </a>
	    </div>
	    <ul class="nav">
	        <li>
				<router-link to="/" exact>
	                <i class="pe-7s-graph"></i>
	                <p>Dashboard</p>
				</router-link>
	        </li>
	        <li>
				<router-link to="/newticket" exact>
	                <i class="pe-7s-ticket"></i>
	                <p>Ticket Aç</p>
				</router-link>
	        </li>
	    </ul>
	</div>
</div>